{% extends 'career_expert/career_index.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add_vaccancy1" method="post">
  <table class="table table-stripped" width="500" border="1">
        <tr>
            <th>
               <font color="white">COMPANY NAME</font>
            </th>
            <td><input type="text" name="cn" class="form-control" required></td>
        </tr>
        <tr>
            <th> <font color="white">POSITION</font></th>
            <td><input type="text" name="ps" class="form-control" required> </td>
        </tr>
         <tr>
            <th> <font color="white">QUALIFICATIONS</font></th>
            <td><input type="text" name="q" class="form-control" required> </td>
        </tr>
         <tr>
            <th> <font color="white">NO OF VACANCCY</font></th>
            <td><input type="text" name="v" class="form-control" required> </td>
        </tr>
         <tr>
            <th> <font color="white">LAST DATE</font></th>
            <td><input type="date" name="ld" class="form-control" required> </td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" class="btn btn-light" value="ADD"></td>
        </tr>
    </table>
</form>
</body>
</html>
{% endblock %}