{% extends "career_expert/career_index.html" %}
{% block body %}
<html>
<head>
 <style>
        th,td{
            color: white;
        }
    </style>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-stripped" width="500" border="1">
    <tr>
      <th scope="col">#</th>
      <th scope="col">DATE</th>
      <th scope="col">COMPANY NAME</th>

      <th scope="col">POST</th>
      <th scope="col">QUALIFICATION</th>
      <th scope="col">NO OF VACCANCY</th>
      <th scope="col">LAST DATE </th>
      <th scope="col"></th>


    </tr>
     {% for i in a %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['date'] }}</td>
    <td>{{ i['company_name']}}</td>
    <td>{{ i['post']}}</td>
    <td>{{ i['qualifications']}}</td>
    <td>{{ i['no_of_vaccancy']}}</td>
    <td>{{ i['last_date']}}</td>
    <td><a href="/update_vaccancy/{{ i.vaccancy_id }}#cta" class="btn btn-light">EDIT</a><br><br>
    <a href="/delete_vaccancy/{{ i.vaccancy_id }}" onclick="return confirm('Are you sure to delete?')" class="btn btn-light">DELETE</a> </td>



  </tr>
    {% endfor %}

  </table>
</form>
</body>
</html>
{% endblock %}