{% extends "admin/admin_index.html" %}
{% block body %}
<html>
<head>
    <style>
        th,td{
{#            background-color: black;#}
            color: white;
        }
    </style>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-stripped" width="500" border="1">
    <tr>
      <th scope="col">#</th>
      <th scope="col">USERNAME</th>
         <th scope="col">DATE</th>
      <th scope="col">FEEDBACK</th>



    </tr>
     {% for i in a %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['uname'] }}</td>
      <td>{{ i['date']}}</td>
       <td>{{ i['feedback'] }}</td>





  </tr>
    {% endfor %}

  </table>
</form>
</body>
</html>
{% endblock %}