{% extends "user/user_index.html" %}
{% block body %}
<html>
<head>
     <style>
        th,td{
{#            background-color: black;#}
            color: white;
        }
    </style>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-stripped" width="500" border="1">
    <tr>
      <th scope="col">#</th>
      <th scope="col">USERNAME</th>
      <th scope="col">QUALIFICATION</th>

      <th scope="col">ADDRESS</th>
      <th scope="col">EMAIL</th>
      <th scope="col">CONTACT</th>
      <th scope="col"></th>



    </tr>
     {% for i in a %}
  <tr>
    <td>{{ loop.index }}</td>
    <td><img src="{{ i.image }}" height="100" width="100"><br>{{ i['name'] }}</td>
    <td>{{ i['qualification'] }}</td>
       <td>{{ i['house'] }},{{ i.post }},{{ i.pin }}</td>
    <td>{{ i['email']}}</td>
    <td>{{ i['phone']}}</td>
    <td><a href="/view_user_tips/{{ i.expert_id }}#cta" class="btn btn-primary ">TIPS</a> <br><br>
        <a href="/view_user_vaccancy/{{ i.expert_id}}#cta" class="btn btn-primary ">VACCANCY</a><br><br></td>
    <td><a href="/send_rating/{{ i.expert_id}}#cta" class="btn btn-primary ">RATING</a> <br><br>
    <a href="/ph_user_chat/{{ i.expert_id }}#cta" class="btn btn-primary">CHAT</a> </td>





  </tr>
    {% endfor %}

  </table>
</form>
</body>
</html>
{% endblock %}